/* ---------- TABLES ---------- */
table {     
    width: 97%; 
    margin-bottom: 1.25em;/* 20/16 */ 
    margin-left: 1.25em;
    margin-right: 1.25em;
    background-color: white;
}

table th {
    text-align: left;
    background-color: #5d6677;
    color: white;
    text-transform: uppercase;
    padding: 0.833em 0 0.833em 1.25em; 
    border-left: 1px solid #747c8a;
}

table tbody td {
    padding: 0.833em 0 0.833em 1.25em; 
    border-left: 1px solid white;
    border-bottom: 1px solid #f8f9fa;
}

/* Alternate table row */
table tbody tr:nth-child(odd) { 
    background-color: #f8f9fa; 
}

/* Push the first cell to the right so it doesn't stick to the table border */
table td:first-child, table th:first-child {  
    width: 3em;
}

table td:last-child, table th:last-child {
    width: 5em;    
    text-align: center;
    padding: 0;
}

table td.table-footer {
    text-align: left;
    vertical-align: middle;
    padding-top: 1.25em /* 15/12 */;
    border: none;
}

a.table-actions-button {
    width: 1em;
    height: 1em;
    display: inline-block;
    background-position: center center;
}